@model List<Northwind.Contracts.Dto.OrderDetail.OrderDetailDto>

<h1>Cart Item</h1>

@using (Html.BeginForm("Checkout", "OrderDetails", FormMethod.Post))
{
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                    <p class="mb-5 text-center">
                        <i class="text-info font-weight-bold">3</i> items in your cart
                    </p>
                    <table id="shoppingCart" class="table table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th style="width:60%">Product</th>
                                <th style="width:12%">Price</th>
                                <th style="width:10%">Quantity</th>
                                <th style="width:16%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                @Html.HiddenFor(m => m[i].ProductId)
                                @Html.HiddenFor(m => m[i].OrderId)
                                @Html.HiddenFor(m => m[i].UnitPrice)
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-md-3 text-left">
                                                <img src="@Url.Content("../Resources/images/" +Model[i].Product.ProductPhotos.FirstOrDefault().PhotoFilename)" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                            </div>
                                            <div class="col-md-9 text-left mt-sm-2">
                                                <h4>@Html.DisplayFor(m => m[i].Product.ProductName)</h4>
                                                <p class="font-weight-light"> @Html.DisplayFor(m => m[i].Product.Category.CategoryName)</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Price"> @Html.DisplayFor(m => m[i].Product.UnitPrice)</td>
                                    <td data-th="Quantity">
                                        @Html.TextBoxFor(m => m[i].Quantity, new {@class="form-control-sm", @type="number", @min=1})
                                        @*<input type="number" class="form-control form-control-lg text-center" value="1">*@
                                    </td>
                                    <td class="actions" data-th="">
                                        <div class="text-right">

                                            <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                                <i class="bx bxs-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <h4>Subtotal:</h4>
                        <h1>$99.00</h1>
                    </div>
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-sm-6 order-md-2 text-right">
                    <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
                </div>
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a href="catalog.html">
                        <i class="fas fa-arrow-left mr-2"></i> Continue Shopping
                    </a>
                </div>
            </div>
        </div>
    </section>
}